{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-color: #597081;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .card-container {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border-radius: 8px;
        word-wrap: break-word;
    }

    .card-container svg {
        fill: #597081;
        width: 40px;
        height: 40px;
    }

    h3, h4 {
        margin: 5px 0;
        word-wrap: break-word; 
    }
</style>

<h2 class="text-center ">Contact Messages</h2>
<div class="container mt-4 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        {% for message in messages %}
            <div class="col mb-5">
                <div class="card-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    <h3>{{ message.first_name }} {{ message.last_name }}</h3>
                    <h3>{{ message.email }}</h3>
                    <h4>{{ message.message|truncatewords:30 }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
