{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color: #597081;
    }
    .img-size{
    width: 100%;
    height: 200px; 
    object-fit: cover; 

    }
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card:hover {
        transform: scale(1.05); /* Slightly enlarge the card */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    }
</style>
<body>
    
<div class="container py-5 ">
    <h1 class="text-center mb-4">My Projects</h1>
    <div class="row">
        
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card">
                {% if project.images.first %}
                    <img src="{{ project.images.first.images.url }}" class="img-fluid img-size" alt="Poster Image">
                {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description|slice:":100" }}...</p>
                        <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}
